{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/allbooking.css')}}">
{% endblock %}
{% block title %}Booking{% endblock %}

{% block content %}
<script>
    classes = document.querySelector("#bookBtn").className;
    classes += " active";
    document.querySelector("#bookBtn").className = classes;
</script>
<div class="container-fluid">
    <p id="from"style="font-size: 60px;">Where would you like us to pick you up from?</p>
<form class="was-validated" action="{{ url_for('dest') }}" method="POST" >

    <div class="form-row">
        <div class="form-group col-lg-12">
            <h4 style="color: white;">Source</h4>
            <SELECT name="comp_select" class="form-control custom-select" required>
                <option value="">Choose Source</option>
            {% for j in data %} 
                <OPTION value={{j[0]}}>{{j[0]}}</OPTION>
            {% endfor %}
            </SELECT>
            <div class="invalid-feedback">Select Proper Input</div>
        </div><br>


        <input id="srcbtn" class="btn btn-primary" type="submit" value="Submit">
      </div>
</form>
</div>



{% endblock %}