{% extends "AdminBase.html" %}
  
{% block content %}
<script>
    classes = document.querySelector("#manageBookingBtn").className;
    classes += " active";
    document.querySelector("#manageBookingBtn").className = classes;
</script>
<div class="row" id="mainContainer"> 
  <h1 class="title2">All Completed Booking Details</h1> 
  <div id="table" class="col-10 offset-1"  >
    <table class="table table-dark table-striped">

      <thead>
          <tr>
            <th scope="col">BOOKING ID</th>
            <th scope="col">STATUS</th>
            <th scope="col">CUSTOMER ID</th>
            <th scope="col">ROUTE ID</th>
            <th scope="col">SOURCE</th>
            <th scope="col">DESTINATION</th>
            <th scope="col">CAB REG. NO.</th>
            <th scope="col">DRIVER ID</th>
            <th scope="col">FARE</th>              
          </tr>
      </thead>
  
      <tbody>
          {% for rowdata in rows %}
          <tr>
            <td>{{rowdata[0]}}</td>
            <td>{{rowdata[6]}}</td>
            <td>{{rowdata[1]}}</td>
            <td>{{rowdata[2][0]}}</td>
            <td>{{rowdata[2][1]}}</td>
            <td>{{rowdata[2][2]}}</td>
            <td>{{rowdata[3]}}</td>
            <td>{{rowdata[4]}}</td>
            <td>{{rowdata[5]}}</td>
          </tr>
          {% endfor %}
      </tbody>
  
  </table>
  </div> 
</div>







<script type="text/javascript">function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
  var x = document.getElementById("newpassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
  var x = document.getElementById("confirmpassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}</script>

<style>
  #mainContainer{background-color: #212529;margin-top: 30px; color: white;padding-left: 50px; border-bottom: 10px #4285F4 solid;}
  input{border-radius: 8px;font-size: 1.2em;}
  .title{color: white;font-weight: 700;margin-left: -50px;background-color: #4285F4;padding-top: 10px;
     padding-left: 80px;border-top-right-radius: 50px;border-bottom-right-radius: 50px; width: 130%;height: 60px;
     border: 2px white solid; border-left: 0px;margin-bottom: 60px;margin-top: 50px;} 
  #submit{width: 90%;font-size: 1.2em;font-weight: 600;background-color: #4285F4;color: white;border: 2px white solid; margin-left: 10px; margin-bottom: 50px;}
  #submit:hover{font-size: 1.3em;}
  #show span{font-size: 0.4em !important;}

  
  #container2{margin-top: 30px;}
  .container2-items img {margin-bottom: 20px; border-radius: 20px; margin-left: -10px; margin-top: 0px; border-bottom: 5px #4285F4 solid}
  .container2-items{background-color: #21252963; color: black; border-radius: 20px; font-weight: 500;}
  .container2-items1{background-color: #21252963; color: black; border-radius: 20px; margin-left: 65px;}
  .title2{color: white;font-weight: 700;margin-left: -50px;background-color: #4285F4;padding-top: 20px;
     padding-left: 20%;border-top-right-radius: 50px;border-bottom-right-radius: 50px; width: 80%;height: 100px;
     border: 2px #212529 solid; border-left: 0px;margin-bottom: 60px;margin-top: 50px; font-size: 3em;font-style: italic;} 
  #username{background-color: #212529;color: white; border: 0px #212529 solid;}

  #table{margin-top: 0px; margin-bottom: 50px; margin-left: 80px; border-top: 5px #4285F4 solid; border-bottom: 5px #4285F4 solid;}
  th{font-size: 1.4em;text-align: center;}
  tr{text-align: center;}


</style>

{% endblock %}